In [13]:
# import requests

# # Your token from the Vexa API
# token = "3ae04e20124d40babc5107e658c666b6"  # Replace with your actual token

# # Submit token to create a user
# response = requests.post(
#     "http://127.0.0.1:8765/submit_token",
#     json={"token": token},
#     headers={"Content-Type": "application/json"}
# )

# if response.status_code == 200:
#     data = response.json()
#     print(f"User created successfully!")
#     print(f"User ID: {data['user_id']}")
#     print(f"User Name: {data['user_name']}")
# else:
#     print(f"Error: {response.status_code}")
#     print(response.text)

In [14]:
import pandas as pd
from sqlalchemy import create_engine, text
import asyncio
from sqlalchemy.ext.asyncio import create_async_engine, AsyncSession
from sqlalchemy.orm import sessionmaker

# Database connection
DATABASE_URL = 'postgresql+asyncpg://postgres:mysecretpassword@localhost:5432/postgres'
engine = create_async_engine(DATABASE_URL)
async_session = sessionmaker(engine, class_=AsyncSession, expire_on_commit=False)

async def get_table_data(table_name: str) -> pd.DataFrame:
    """Fetch all data from a specified table"""
    async with async_session() as session:
        result = await session.execute(text(f'SELECT * FROM {table_name}'))
        rows = result.fetchall()
        columns = result.keys()
        return pd.DataFrame(rows, columns=columns)

async def list_all_tables() -> list:
    """Get list of all tables in the database"""
    async with async_session() as session:
        result = await session.execute(text("""
            SELECT table_name 
            FROM information_schema.tables 
            WHERE table_schema = 'public'
        """))
        return [row[0] for row in result.fetchall()]

# Function to display all tables
async def display_all_tables():
    tables = await list_all_tables()
    print("Available tables:", tables)
    
    dfs = {}
    for table in tables:
        try:
            df = await get_table_data(table)
            dfs[table] = df
            print(f"\n=== {table} ===")
            print(f"Shape: {df.shape}")
            display(df)  # This will show the table in Jupyter
        except Exception as e:
            print(f"Error loading {table}: {e}")
    
    return dfs

# Run the async function
dfs = await display_all_tables()

# You can then access individual tables like this:
# dfs['users']  # Access users table
# dfs['meetings']  # Access meetings table

Available tables: ['meeting_speaker', 'speakers', 'discussion_points', 'meetings', 'alembic_version', 'users', 'user_tokens', 'meeting_shares', 'outputs']

=== meeting_speaker ===
Shape: (0, 2)

Empty DataFrame
Columns: [meeting_id, speaker_id]
Index: []

=== speakers ===
Shape: (132, 2)

      id               name
0      1    Dmitriy Grankin
1      2    Sergey Ryabenko
2      3      Ilia Semukhin
3      4  Olga Nemirovskaya
4      5    Alex Shevliakov
..   ...                ...
127  128        Max Mironov
128  129      Angelina Geru
129  130                 AG
130  131                 RS
131  132       Ravshan S.K.

[132 rows x 2 columns]

=== discussion_points ===
Shape: (3732, 10)

,id,summary_index,summary,details,referenced_text,meeting_id,speaker_id,topic_name,topic_type,model
0,1,0,The discussion focused on how technology shoul...,The technology should learn from user interact...,"Sergey Ryabenko: То, что она учится, ну то ес...",2be605d6-d98d-475a-8969-838cb44a6fe9,1,Adapting technology to user needs,idea,MeetingExtraction
1,2,1,A proposed solution involves a system that not...,The system should be able to store and retriev...,"Sergey Ryabenko: Ну, во-первых, хранит информ...",2be605d6-d98d-475a-8969-838cb44a6fe9,2,System that learns and preserves knowledge,solution,MeetingExtraction
2,3,2,The need for a task management feature was ide...,This feature would provide users with a summar...,"Sergey Ryabenko: Ну нет, таски – это одно из....",2be605d6-d98d-475a-8969-838cb44a6fe9,1,Task management feature,task,MeetingExtraction
3,4,3,The importance of summarizing meetings effecti...,The goal is to create a system that can provid...,"Sergey Ryabenko: Ага. Может, это cuts the flu...",2be605d6-d98d-475a-8969-838cb44a6fe9,2,Effective meeting summarization,goal,MeetingExtraction
4,5,4,The integration of knowledge management and ta...,This integration would allow for better tracki...,Sergey Ryabenko: knowledge knowledge manageme...,2be605d6-d98d-475a-8969-838cb44a6fe9,1,Knowledge and task management integration,opportunity,MeetingExtraction
...,...,...,...,...,...,...,...,...,...,...
3727,3727,6,Ravshan S.K. is a participant in the meeting d...,Ravshan is involved in a conversation about co...,,7343734f-7311-4844-aa5e-86f1f93595c5,132,Ravshan S.K.,person,EntityExtraction
3728,3728,7,Dmitry Grankin is a participant in the meeting...,Dmitry is curious about Ravshan's coding setup...,,7343734f-7311-4844-aa5e-86f1f93595c5,11,Dmitry Grankin,person,EntityExtraction
3729,3729,8,A streaming chat is a real-time communication ...,The participants discuss creating a streaming ...,,7343734f-7311-4844-aa5e-86f1f93595c5,11,streaming chat,concept,EntityExtraction
3730,3730,9,An API (Application Programming Interface) is ...,Ravshan mentions needing an API to proceed wit...,,7343734f-7311-4844-aa5e-86f1f93595c5,132,API,concept,EntityExtraction
3731,3731,10,Python is a high-level programming language kn...,Dmitry mentions his experience with Python and...,,7343734f-7311-4844-aa5e-86f1f93595c5,11,Python,programming language,EntityExtraction

=== meetings ===
Shape: (236, 5)

,id,meeting_id,transcript,timestamp,owner_id
0,1,2be605d6-d98d-475a-8969-838cb44a6fe9,"[{'speaker': 'Dmitriy Grankin', 'speaker_id': ...",2024-09-16 13:09:25.985999,ef7c085b-fdb5-4c94-b7b6-a61a3d04c210
1,2,f5f969d6-675f-4d55-a604-78208e545dcd,"[{'speaker': 'Dmitriy Grankin', 'speaker_id': ...",2024-09-16 15:35:48.424000,ef7c085b-fdb5-4c94-b7b6-a61a3d04c210
2,3,e3dea53c-a0d6-4b10-ab63-8b4c120bd245,"[{'speaker': 'TBD', 'speaker_id': 'TBD', 'cont...",2024-09-16 19:02:08.440000,ef7c085b-fdb5-4c94-b7b6-a61a3d04c210
3,4,1c71070f-4427-4aae-ace0-2091f70dec5b,"[{'speaker': 'Alex Shevliakov', 'speaker_id': ...",2024-09-17 09:26:40.185999,ef7c085b-fdb5-4c94-b7b6-a61a3d04c210
4,66,27959f97-ea15-48cb-87c8-88a5dce99da9,"[{'speaker': 'Dmitriy Grankin', 'speaker_id': ...",2024-10-10 15:18:01.363999,ef7c085b-fdb5-4c94-b7b6-a61a3d04c210
...,...,...,...,...,...
231,232,3d3bf4f0-1511-4387-bd32-803963fdc5ec,"[{'speaker': 'TBD', 'speaker_id': 'TBD', 'cont...",2024-08-26 17:52:17.800000,ef7c085b-fdb5-4c94-b7b6-a61a3d04c210
232,233,df0a9f4c-3b7b-436b-a329-504b99cfe37d,"[{'speaker': 'Olga Nemirovskaya', 'speaker_id'...",2024-08-29 18:26:04.070000,ef7c085b-fdb5-4c94-b7b6-a61a3d04c210
233,234,7122979f-9b4e-4d0f-92c7-18f6b1034197,"[{'speaker': 'Max Mironov', 'speaker_id': 'TBD...",2024-09-09 16:31:37.875999,ef7c085b-fdb5-4c94-b7b6-a61a3d04c210
234,235,5e8bf76a-a7cf-4507-acd5-1e1d25152ded,"[{'speaker': 'Dmitry Grankin', 'speaker_id': '...",2024-10-02 11:00:52.890000,ef7c085b-fdb5-4c94-b7b6-a61a3d04c210
235,236,7343734f-7311-4844-aa5e-86f1f93595c5,"[{'speaker': 'Ravshan S.K.', 'speaker_id': 'TB...",2024-10-25 12:01:02.055999,ef7c085b-fdb5-4c94-b7b6-a61a3d04c210

=== alembic_version ===
Shape: (1, 1)

    version_num
0  d44373d13877

=== users ===
Shape: (1, 4)

,id,name,email,created_at
0,ef7c085b-fdb5-4c94-b7b6-a61a3d04c210,Dmitriy Grankin,None,2024-10-27 15:52:13.612945+00:00

=== user_tokens ===
Shape: (1, 5)

,token,user_id,user_name,created_at,last_used_at
0,3ae04e20124d40babc5107e658c666b6,ef7c085b-fdb5-4c94-b7b6-a61a3d04c210,Dmitriy Grankin,2024-10-27 15:52:13.616965+00:00,2024-10-27 15:52:13.616967+00:00

=== meeting_shares ===
Shape: (0, 6)

Empty DataFrame
Columns: [id, meeting_id, user_id, access_level, created_at, created_by]
Index: []

=== outputs ===
Shape: (0, 7)

Empty DataFrame
Columns: [id, input_text, output_text, model, temperature, max_tokens, cache_key]
Index: []