In [3]:
%reload_ext autoreload
%autoreload 2

In [4]:
from typing import List, Optional, AsyncGenerator
from datetime import datetime
from pydantic import Field
from core import BaseCall, Msg
import instructor
from openai import AsyncOpenAI
import pandas as pd
from typing import Dict
from sampling import WeightedSampler, fetch_joined_data
from query_planner import QueryPlan
import enum
from typing import List
from pydantic import Field
from core import user_msg

from core import system_msg,user_msg,assistant_msg

from IPython.display import display,clear_output

In [5]:
from pydantic_models import EntityExtraction
from pydantic import field_validator

In [6]:
from sampling import fetch_joined_data,WeightedSampler

df = await fetch_joined_data()
df = df.sort_values(by='meeting_timestamp')

In [21]:
class ConsolidatedNode(BaseCall):
    ids: List[int] = Field(..., description="List of indices that should be consolidated into this node, at least 2")
    topic: str = Field(..., description="Main topic name for this consolidated group")

    @field_validator('ids')
    def validate_ids(cls, v):
        if len(v) < 1:
            raise ValueError("Each consolidated node must contain at least 2 related items")
        return v

class KnowledgeGraph(BaseCall):
    nodes: List[ConsolidatedNode] = Field(..., description="List of consolidated topic nodes")


df_sample = df.sample(200).reset_index()

In [22]:
messages = [
    system_msg(f"""You are an expert knowledge graph builder. Analyze the meeting data and consolidate topics into business-focused categories, following these rules:

1. NATURAL GROUPING:
   - Group size should reflect ACTUAL relationships
   - Some topics may have many related items (6-10+)
   - Others may have just 2-3 closely related items
   - DO NOT try to balance group sizes
   - Let the data guide the grouping

2. BUSINESS CATEGORIES:
   - People & Organizations
     * Team members, customers, partners, competitors
   - Products & Services 
     * Our offerings, competitor products, tools used
   - Projects & Initiatives
     * Development, marketing, sales efforts
   - Tasks & Actions
     * Specific work items and next steps

3. VALIDATION:
   - Minimum 2 related items per group
   - Must have clear business context
   - Must be specific (e.g., "Google Ads Q4 Campaign" not just "Marketing")
   - No mixing unrelated items just to fill groups

4. AVOID:
   - Creating equal-sized groups
   - Using sequential IDs
   - Generic topic names
   - Mixing different categories
   - Forcing items into groups

Meeting data: {df_sample[['index', 'summary', 'speaker_name', 'topic_name']].to_csv()}"""),
    user_msg("Create consolidated nodes based on ACTUAL topic relationships in the data. Group sizes should vary naturally - some topics may have many related items, others just a few closely related ones. Focus on real connections, not balanced groups.")
]

In [28]:
r = await KnowledgeGraph.call(messages)

In [29]:
r.model_dump()

{'nodes': [{'ids': [0, 19, 85], 'topic': 'AI Technologies and Applications'},
  {'ids': [1, 10, 38, 146], 'topic': 'Customer Insights and Market Research'},
  {'ids': [3, 139, 35, 4, 59], 'topic': 'Cloud Services and Migration'},
  {'ids': [6, 9, 34, 59, 173], 'topic': 'Transcription and Meeting Tools'},
  {'ids': [2, 25, 158], 'topic': 'Programming Languages'},
  {'ids': [11, 23, 74, 191], 'topic': 'User Interface and Experience'},
  {'ids': [12, 50, 60, 192], 'topic': 'System Functionality and Testing'},
  {'ids': [14, 41, 192, 123], 'topic': 'Project Management and Collaboration'},
  {'ids': [7, 20, 114, 186], 'topic': 'Legal and Compliance Considerations'},
  {'ids': [8, 45, 96, 145], 'topic': 'Meeting Organization and Follow-ups'},
  {'ids': [13, 52, 113, 198], 'topic': 'Startup and Business Development'},
  {'ids': [18, 31, 67, 189], 'topic': 'Social Media and Marketing Strategies'},
  {'ids': [33, 37, 59, 59], 'topic': 'SaaS and Software Development'},
  {'ids': [32, 70, 82, 91], 'topic': 'Community Building and Engagement'},
  {'ids': [15, 29, 134, 161], 'topic': 'Team Collaboration and Communication'},
  {'ids': [22, 28, 60, 192], 'topic': 'Task Management and Action Items'},
  {'ids': [39, 41, 42, 43], 'topic': 'Business Models and Strategies'},
  {'ids': [46, 48, 49, 50], 'topic': 'Content Creation and Marketing'},
  {'ids': [56, 57, 58, 59], 'topic': 'User Engagement and Feedback'},
  {'ids': [64, 66, 67, 68],
   'topic': 'Competitor Analysis and Market Positioning'},
  {'ids': [69, 70, 71, 72], 'topic': 'Future Planning and Strategy'},
  {'ids': [73, 74, 75, 76], 'topic': 'Technical Challenges and Solutions'},
  {'ids': [77, 78, 79, 80], 'topic': 'Data Management and Analytics'},
  {'ids': [81, 82, 83, 84], 'topic': 'Investment and Funding Strategies'},
  {'ids': [85, 86, 87, 88], 'topic': 'Product Development and Features'},
  {'ids': [89, 90, 91, 92], 'topic': 'User Onboarding and Training'},
  {'ids': [93, 94, 95, 96], 'topic': 'Compliance and Data Security'},
  {'ids': [97, 98, 99, 100], 'topic': 'User Experience and Design'},
  {'ids': [101, 102, 103, 104],
   'topic': 'Content Management and Distribution'},
  {'ids': [105, 106, 107, 108], 'topic': 'Performance Metrics and Analysis'},
  {'ids': [109, 110, 111, 112], 'topic': 'Networking and Partnerships'},
  {'ids': [113, 114, 115, 116], 'topic': 'Innovation and Trends'},
  {'ids': [117, 118, 119, 120], 'topic': 'Feedback and Improvement Processes'},
  {'ids': [121, 122, 123, 124], 'topic': 'Team Dynamics and Culture'},
  {'ids': [125, 126, 127, 128],
   'topic': 'Technical Documentation and Resources'},
  {'ids': [129, 130, 131, 132], 'topic': 'Product Features and Enhancements'},
  {'ids': [133, 134, 135, 136], 'topic': 'Market Trends and Insights'},
  {'ids': [137, 138, 139, 140], 'topic': 'User Research and Testing'},
  {'ids': [141, 142, 143, 144],
   'topic': 'Operational Efficiency and Effectiveness'},
  {'ids': [145, 146, 147, 148], 'topic': 'Sales and Revenue Strategies'},
  {'ids': [149, 150, 151, 152], 'topic': 'Branding and Positioning'},
  {'ids': [153, 154, 155, 156], 'topic': 'Customer Relationship Management'},
  {'ids': [157, 158, 159, 160], 'topic': 'Content Strategy and Planning'},
  {'ids': [161, 162, 163, 164], 'topic': 'Technology and Tools'},
  {'ids': [165, 166, 167, 168], 'topic': 'Future Trends and Predictions'},
  {'ids': [169, 170, 171, 172],
   'topic': 'Market Opportunities and Challenges'},
  {'ids': [173, 174, 175, 176],
   'topic': 'User-Centric Design and Development'},
  {'ids': [177, 178, 179, 180],
   'topic': 'Team Collaboration and Productivity'},
  {'ids': [181, 182, 183, 184], 'topic': 'Knowledge Sharing and Learning'},
  {'ids': [185, 186, 187, 188], 'topic': 'Legal and Ethical Considerations'},
  {'ids': [189, 190, 191, 192], 'topic': 'Community Engagement and Support'},
  {'ids': [193, 194, 195, 196], 'topic': 'Technical Support and Resources'},
  {'ids': [197, 198, 199, 200], 'topic': 'Market Research and Analysis'}]}

In [32]:
grouped_dfs = {}

# For each node in the consolidated results
for node in r.nodes:
    # Get the topic name
    topic = node.topic
    # Filter ids to only include those that exist in df_sample
    valid_ids = [id for id in node.ids if id in df_sample.index]
    if valid_ids:  # Only create group if there are valid IDs
        # Get the corresponding rows from df_sample using the filtered ids
        group_df = df_sample.loc[valid_ids, ['index', 'topic_name', 'summary']]
        grouped_dfs[topic] = group_df

for topic, group_df in grouped_dfs.items():
    print(f"\n=== {topic} ===")
    display(group_df)

=== AI Technologies and Applications ===

,index,topic_name,summary
0,2179,AI assistance in user interviews,The potential for AI to assist in user intervi...
19,2147,AI,AI refers to artificial intelligence technolog...
85,1037,AI,AI (Artificial Intelligence) is a central topi...

=== Customer Insights and Market Research ===

,index,topic_name,summary
1,1545,customer base,Customer base refers to the group of clients t...
10,1443,Market Research,The team plans to conduct market research to b...
38,2107,B2C,B2C refers to business-to-consumer marketing s...
146,2615,Analyze Google Ads usage among competitors,Olga reviewed the Google Ads usage of competit...

=== Cloud Services and Migration ===

,index,topic_name,summary
3,371,Google Cloud,Google Cloud is the cloud service platform tha...
139,2755,Migration to Google Cloud,Plan and execute the migration of the applicat...
35,1772,Google Meet,Google Meet is the platform from which audio i...
4,1893,AI Tools for Project Management,Dmitriy shared insights on using AI tools like...
59,1439,SaaS Product Development,The team is developing a SaaS product that off...

=== Transcription and Meeting Tools ===

,index,topic_name,summary
6,2415,Fathom,Fathom is discussed as a product with a good o...
9,2458,Vexa,Vexa is a startup focused on audio transcripti...
34,3090,iCoupilot,iCoupilot is mentioned as a product related to...
59,1439,SaaS Product Development,The team is developing a SaaS product that off...
173,1164,VEX,VEX is a tool being discussed in the meeting t...

=== Programming Languages ===

     index topic_name                                            summary
2       48     Python  Python is a high-level programming language kn...
25    2863       Rust  Rust is a programming language that Xut tuX is...
158    840     Python  Python is a high-level programming language kn...

=== User Interface and Experience ===

     index      topic_name                                            summary
11    1026        graphics  Graphics refer to visual elements that will be...
23      40  user interface  User interface refers to the design and layout...
74    2392      highlights  Highlights refer to the emphasized elements in...
191   1321       dashboard  The dashboard is a key focus of the meeting, w...

=== System Functionality and Testing ===

,index,topic_name,summary
12,2673,support,Support refers to the ongoing maintenance of t...
50,1944,Optimize onboarding process and functionality,Improve the onboarding process and enhance the...
60,897,Discussing project deployment locally,The team discussed the next steps for deployin...
192,2911,Implement backend processing for artifact storage,Backend systems need to be developed to manage...

=== Project Management and Collaboration ===

,index,topic_name,summary
14,2230,Final fix for speaker data,A final fix was implemented to ensure that spe...
41,2122,Project,A project is a collection of tasks and meeting...
192,2911,Implement backend processing for artifact storage,Backend systems need to be developed to manage...
123,2292,Addressing message disappearing issues,There are ongoing issues with messages disappe...

=== Legal and Compliance Considerations ===

,index,topic_name,summary
7,2327,data scientist,A data scientist is a professional who uses st...
20,3024,Exploration of potential features for legal pr...,Dmitriy and Ilia explored potential features t...
114,3101,Use cases for the assistant,Potential use cases for the transcription assi...
186,1711,Eleven Labs,Eleven Labs is a company mentioned in the cont...

=== Meeting Organization and Follow-ups ===

,index,topic_name,summary
8,766,Organize a meeting,A meeting is proposed to discuss important asp...
45,765,meeting,Scheduling a meeting to continue discussions a...
96,3026,Plans for future meetings and follow-ups,The team agreed to hold regular meetings to di...
145,2273,Plans for future meetings and collaboration,The group discussed the potential for future m...

=== Startup and Business Development ===

,index,topic_name,summary
13,995,StoryMan,StoryMan is a company that Nadya is associated...
52,2031,WeFunder,WeFunder is a crowdfunding platform mentioned ...
113,2105,SuperPower,SuperPower is another competitor that is part ...
198,2321,Discussion on Product Hunt and its significance,The participants discussed the potential of la...

=== Social Media and Marketing Strategies ===

,index,topic_name,summary
18,1257,Sergio Goriachev,"Sergio Goriachev is a speaker in the meeting, ..."
31,580,Olga Nemirovskaya,Olga Nemirovskaya is a participant in the meet...
67,1478,TikTok,TikTok is a social media platform being utiliz...
189,586,social media,Social media platforms are used for marketing ...

=== SaaS and Software Development ===

,index,topic_name,summary
33,42,neural network,Neural network refers to the AI technology use...
37,1447,SaaS,SaaS (Software as a Service) is a software dis...
59,1439,SaaS Product Development,The team is developing a SaaS product that off...
59,1439,SaaS Product Development,The team is developing a SaaS product that off...

=== Community Building and Engagement ===

,index,topic_name,summary
32,572,Localization Strategy,The team discussed the need for a localization...
70,942,Discuss strategy for October,The team needs to decide on the direction and ...
82,1838,Campaign to promote Dmitry's product,Mayank suggested arranging a campaign that inc...
91,2910,Establish a community during the marketing pro...,Building a community around the product will e...

=== Team Collaboration and Communication ===

     index       topic_name                                            summary
15    1353  Dmitriy Grankin  Dmitriy Grankin is a speaker in the meeting, f...
29     284  Dmitriy Grankin  Dmitriy Grankin is a speaker in the meeting di...
134   2501  Dmitriy Grankin  Dmitriy Grankin is a speaker in the meeting wh...
161    551  Dmitriy Grankin  Dmitriy Grankin is a speaker in the meeting di...

=== Task Management and Action Items ===

,index,topic_name,summary
22,305,Integration of a new feature,The team discussed integrating a new feature i...
28,411,DimaTorzok,DimaTorzok is credited with creating subtitles...
60,897,Discussing project deployment locally,The team discussed the next steps for deployin...
192,2911,Implement backend processing for artifact storage,Backend systems need to be developed to manage...

=== Business Models and Strategies ===

,index,topic_name,summary
39,366,Dmitriy Grankin,"Dmitriy Grankin is a speaker in the meeting, d..."
41,2122,Project,A project is a collection of tasks and meeting...
42,610,B2B,B2B refers to business-to-business transaction...
43,3044,Stephanus Gunawan,Stephanus Gunawan is a product manager at Laza...

=== Content Creation and Marketing ===

,index,topic_name,summary
46,1010,User-friendly interface and automation,The team discussed the need for a user-friendl...
48,2626,Notte,Notte is another competitor in the meeting ass...
49,239,,Time indicates the specific moment when the ca...
50,1944,Optimize onboarding process and functionality,Improve the onboarding process and enhance the...

=== User Engagement and Feedback ===

,index,topic_name,summary
56,2810,Telegram,Telegram is a messaging platform where Olga co...
57,1783,OneBoost for Call Transcription,OneBoost is utilized for transcribing sales ca...
58,786,details,Details refer to the specific aspects of the p...
59,1439,SaaS Product Development,The team is developing a SaaS product that off...

=== Competitor Analysis and Market Positioning ===

,index,topic_name,summary
64,1114,Brek,Brek is mentioned as a potential bank for open...
66,231,Create new thread based on call or message,The application will allow users to create a n...
67,1478,TikTok,TikTok is a social media platform being utiliz...
68,435,PDF to Docs,PDF to Docs is a product mentioned by t...

=== Future Planning and Strategy ===

,index,topic_name,summary
69,862,posts,Posts refer to original content created by the...
70,942,Discuss strategy for October,The team needs to decide on the direction and ...
71,2163,Pending requests resolution,The team discussed the status of pending reque...
72,1189,frontend,The frontend is part of the project that Dmitr...

=== Technical Challenges and Solutions ===

,index,topic_name,summary
73,326,Address CSS issues in the project,The team discussed existing CSS issues and the...
74,2392,highlights,Highlights refer to the emphasized elements in...
75,1138,,Testing refers to the process of evaluating th...
76,132,9.2,Version 9.2 is the specific version of the sof...

=== Data Management and Analytics ===

,index,topic_name,summary
77,119,FL.ru,FL.ru is another freelancing platform mentione...
78,2569,B2C to B2B product transition,Dmitry discussed plans to develop a B2C produc...
79,557,,Brand queries are search terms that include a ...
80,1152,,The term '' refers to the build version of...

=== Investment and Funding Strategies ===

,index,topic_name,summary
81,1671,Discuss the importance of team collaboration t...,Highlight the need for team members to stay fo...
82,1838,Campaign to promote Dmitry's product,Mayank suggested arranging a campaign that inc...
83,2355,knowledge base,A knowledge base is a centralized repository o...
84,103,Y Combinator,Y Combinator is a startup accelerator that is ...

=== Product Development and Features ===

    index       topic_name                                            summary
85   1037               AI  AI (Artificial Intelligence) is a central topi...
86   2406       SimilarWeb  SimilarWeb is a tool mentioned in the meeting ...
87   2451  Dmitriy Grankin  A participant in the meeting who discussed tec...
88   1081           Brazil is mentioned as a significant source of...

=== User Onboarding and Training ===

,index,topic_name,summary
89,2954,Dmitriy Grankin,Dmitriy Grankin is the speaker leading the dis...
90,2142,Shota Arabuli,"Shota Arabuli is a participant in the meeting,..."
91,2910,Establish a community during the marketing pro...,Building a community around the product will e...
92,296,B2C,B2C refers to business-to-consumer strategies ...

=== Compliance and Data Security ===

,index,topic_name,summary
93,1320,Google Meet,Google Meet is referenced as the platform used...
94,775,Backup tool recommendation,Rick recommended using a backup tool for WordP...
95,3138,Early Access and User Feedback Strategy,Dmitriy suggested collecting contacts for earl...
96,3026,Plans for future meetings and follow-ups,The team agreed to hold regular meetings to di...

=== User Experience and Design ===

     index       topic_name                                            summary
97    1599               UX  User Experience, the overall experience a user...
98    1746  User Onboarding  User Onboarding refers to the process of guidi...
99    1457           Tiktok  TikTok is a social media platform for creating...
100   2540          ChatGPT  ChatGPT is an AI language model that Robert Ha...

=== Content Management and Distribution ===

,index,topic_name,summary
101,1364,,Framer is mentioned as a potential tool for bu...
102,2475,Overview of Daniil's work at S7 and the revenu...,Daniil provided insights into his role as Team...
103,141,Dmitriy Grankin,"Dmitriy Grankin is the speaker of the meeting,..."
104,773,parceria,"The Portuguese term for partnership, indicatin..."

=== Performance Metrics and Analysis ===

,index,topic_name,summary
105,1395,assistant,The assistant is a tool being discussed in the...
106,2034,Review and improve the store page content,Update the store page to clearly indicate that...
107,916,,Marketing refers to the strategies and activit...
108,444,Discuss architecture for handling high loads,The team discussed the architecture needed to ...

=== Networking and Partnerships ===

,index,topic_name,summary
109,2277,,is a product marketing manag...
110,54,Differentiate product features from competitors,Dmitriy highlighted the need to articulate the...
111,2444,OpenAI,OpenAI is an artificial intelligence research ...
112,1064,Click to AI,Click to AI is a tool promoted by AI Marketing...

=== Innovation and Trends ===

,index,topic_name,summary
113,2105,SuperPower,SuperPower is another competitor that is part ...
114,3101,Use cases for the assistant,Potential use cases for the transcription assi...
115,2514,community,Community building is a central theme in the m...
116,878,Utilization of various social media platforms,The team plans to utilize multiple social medi...

=== Feedback and Improvement Processes ===

,index,topic_name,summary
117,2698,Need for Better Meeting Summarization,Participants expressed the need for improved s...
118,2171,investment,Investment refers to the allocation of resourc...
119,59,Product Hunt,A platform for discovering new products and co...
120,2372,Remove duplicate speaker names in transcripts,"To improve clarity, duplicate speaker names sh..."

=== Team Dynamics and Culture ===

,index,topic_name,summary
121,1629,Develop TikTok and YouTube scripts,Create scripts for TikTok and YouTube content ...
122,604,Sergiy,Sergiy is mentioned as a potential ambassador ...
123,2292,Addressing message disappearing issues,There are ongoing issues with messages disappe...
124,2533,Robert's workflow using Vexa and ChatGPT,Robert outlined his workflow for using Vexa in...

=== Technical Documentation and Resources ===

,index,topic_name,summary
125,1833,Ska,Ska refers to the concept of testing or try...
126,1401,Check and verify Google Ads announcements,Olga needs to double-check all Google Ads anno...
127,635,,The USA is mentioned as a location where both ...
128,1069,,...

=== Product Features and Enhancements ===

     index       topic_name                                            summary
129   1736        Instagram  Instagram is a social media platform mentioned...
130     74  Dmitriy Grankin  Dmitriy Grankin is a speaker in the meeting di...
131    881         LinkedIn  LinkedIn is a professional networking platform...
132   2599                           ,   .

=== Market Trends and Insights ===

,index,topic_name,summary
133,663,Google Ads,Google Ads is an online advertising platform w...
134,2501,Dmitriy Grankin,Dmitriy Grankin is a speaker in the meeting wh...
135,1219,Dmitriy Grankin,"Dmitriy Grankin is a speaker in the meeting, d..."
136,285,Olga Nemirovskaya,Olga Nemirovskaya is a speaker in the meeting ...

=== User Research and Testing ===

,index,topic_name,summary
137,3103,Creating artifacts from call summaries,The process of creating artifacts from call su...
138,3058,Ranking System for Meetings,Create a ranking system for meetings based on ...
139,2755,Migration to Google Cloud,Plan and execute the migration of the applicat...
140,3168,Concerns about compliance and data handling,Olga raised concerns regarding compliance and ...

=== Operational Efficiency and Effectiveness ===

,index,topic_name,summary
141,1933,Sergey Ryabenko,Sergey Ryabenko is a speaker in the meeting wh...
142,649,,Doctors are the primary clients of Igor's curr...
143,215,Backend integration and limitations,The conversation touched on the backend integr...
144,2345,Google Ads,Google Ads is an online advertising platform w...

=== Sales and Revenue Strategies ===

,index,topic_name,summary
145,2273,Plans for future meetings and collaboration,The group discussed the potential for future m...
146,2615,Analyze Google Ads usage among competitors,Olga reviewed the Google Ads usage of competit...
147,2262,CSDM,CSDM refers to customer development management...
148,1182,Error handling in API responses,Dmitriy and Sergey encountered issues with err...

=== Branding and Positioning ===

,index,topic_name,summary
149,2339,growth hacking,Growth hacking is a marketing strategy focused...
150,2768,Trello,Trello is a task management tool mentioned for...
151,92,Email Marketing Service Selection,The team discussed the need for an email marke...
152,2574,Tatiana Illarionova-Zervas,Tatiana Illarionova-Zervas is a speaker in the...

=== Customer Relationship Management ===

,index,topic_name,summary
153,507,Dmitry Grankin,Dmitry Grankin is a founder and technical expe...
154,2436,,is a company that has financed Dmitry G...
155,398,Trs perguntas para automatizar tarefas,Dmitriy apresenta trs perguntas que ele faz a...
156,1677,HTML code,HTML code is discussed in the context of inser...

=== Content Strategy and Planning ===

,index,topic_name,summary
157,1725,User Registration,User Registration is the process of users sign...
158,840,Python,Python is a high-level programming language kn...
159,1008,Training course structure and content,The team defined the structure and content of ...
160,180,Notetakers,"Notetakers are a subject of interest for Olga,..."

=== Technology and Tools ===

     index       topic_name                                            summary
161    551  Dmitriy Grankin  Dmitriy Grankin is a speaker in the meeting di...
162   1928     digital twin  A digital twin is a virtual representation of ...
163    608         Substack  Substack is a platform for independent writers...
164   1581           Vex.ai  Vex.ai is the platform being discussed in the ...

=== Future Trends and Predictions ===

,index,topic_name,summary
165,492,Kafka,Kafka is a messaging system that Nikolay uses ...
166,2287,Future Workshop Series,The team proposed a series of workshops follow...
167,1628,Create a post about remote office scenarios,Develop a creative post discussing the dynamic...
168,1816,Communication tools and client integration,There is a need to develop better communicatio...

=== Market Opportunities and Challenges ===

     index       topic_name                                            summary
169   1604  Microsoft Teams  Microsoft Teams is an online collaboration pla...
170   2708       Google Ads  Google Ads is mentioned in the context of cryp...
171   1299              refers to the backend system that needs...
172   1931    Resolve issue  Sergey Ryabenko committed to resolving a speci...

=== User-Centric Design and Development ===

,index,topic_name,summary
173,1164,VEX,VEX is a tool being discussed in the meeting t...
174,903,Toysmine,Toysmine is another server or system mentioned...
175,2499,Identify potential users for outreach,The team needs to identify potential users for...
176,2099,Otter,Otter is mentioned as one of the competitors i...

=== Team Collaboration and Productivity ===

,index,topic_name,summary
177,2861,Python,Python is a programming language that Xut tuX ...
178,146,,The user is the end recipient of the software ...
179,798,Setting up WordPress with Elementor and Rank Math,Dmitriy is setting up a WordPress site and nee...
180,475,,is the general topic of discu...

=== Knowledge Sharing and Learning ===

,index,topic_name,summary
181,2029,artifacts,Artifacts are the outputs or records generated...
182,1723,WhatsApp,WhatsApp is another messaging platform mention...
183,303,Google Meet Assistant,A tool designed to transcribe meetings in real...
184,979,Anastasia Tmur,Anastasia Tmur is a user who reported signific...

=== Legal and Ethical Considerations ===

,index,topic_name,summary
185,1218,Review user needs for AI legal services,The team expressed concerns about understandin...
186,1711,Eleven Labs,Eleven Labs is a company mentioned in the cont...
187,26,OpenAI,OpenAI is mentioned in the context of API serv...
188,2759,Establishing communication protocols,Define communication methods and schedules for...

=== Community Engagement and Support ===

,index,topic_name,summary
189,586,social media,Social media platforms are used for marketing ...
190,668,Andy,Andy is mentioned as an influential figure who...
191,1321,dashboard,"The dashboard is a key focus of the meeting, w..."
192,2911,Implement backend processing for artifact storage,Backend systems need to be developed to manage...

=== Technical Support and Resources ===

,index,topic_name,summary
193,1884,FastAPI,FastAPI is a modern web framework for building...
194,2874,summary,Summary refers to the automatic processing of ...
195,2561,Understanding the functionality of highlights,There is a need to clarify how the highlightin...
196,1290,,are discussed as part of the marketi...

=== Market Research and Analysis ===

,index,topic_name,summary
197,1111,mom,"A personal reference made during the meeting, ..."
198,2321,Discussion on Product Hunt and its significance,The participants discussed the potential of la...
199,2668,Siberia,Siberia is the region where the factory using ...

In [12]:
output_df = pd.DataFrame(r.model_dump()['consolidated_items'])

In [13]:
output_df

Empty DataFrame
Columns: []
Index: []

In [100]:
pd.options.display.max_colwidth = 1000

In [101]:
output_df

,topic,topic_type,summary,details,related_topics
0,Telegram,platform,"Telegram is a cloud-based instant messaging service that allows users to send messages, photos, and videos. It is being considered for marketing outreach, but there are concerns about its future due to uncertainties surrounding its ownership and moderation policies in different regions, particularly in the Emirates and Saudi Arabia. The team plans to test Telegram's effectiveness in the Emirates, where it reportedly has a good audience and moderation.","- Telegram is a messaging platform being considered for marketing outreach. - Concerns were raised about the future of Telegram due to uncertainties surrounding its ownership and moderation policies. - Testing is planned in the Emirates, where it is believed to have a good audience.","[Marketing Strategy, User Engagement]"
1,Google Ads,platform,"Google Ads is an online advertising platform that the team plans to utilize for tracking and promoting their content. The campaign is set to launch on Monday after being paused for the weekend, with expectations to drive traffic to the site and increase user registrations. The team is also focusing on adding mobile features to enhance advertising capabilities.",- Google Ads is a platform for advertising that the team plans to utilize for tracking and promoting their content. - The campaign is set to launch on Monday after being paused for the weekend. - The team is focusing on adding mobile features to enhance advertising capabilities.,"[Marketing Strategy, User Acquisition]"
2,YouTube,platform,"YouTube is a video-sharing platform that the team is focusing on for content creation and distribution. The team plans to publish multiple videos, including tutorials and promotional content, to enhance visibility and engagement. They aim to analyze user interaction data on the platform to inform future strategies.","- YouTube is a platform for video content creation and distribution. - The team plans to publish multiple videos, including tutorials and promotional content. - They aim to analyze user interaction data to inform future strategies.","[Content Strategy, User Engagement]"
3,User Engagement,concept,User engagement refers to the interaction and involvement of users with VEX. The team is monitoring engagement metrics from posts to understand audience interaction and is exploring strategies to enhance user retention and acquisition through various marketing channels.,- User engagement is crucial for the success of marketing efforts. - The team is monitoring engagement metrics from posts to understand audience interaction. - Strategies are being explored to enhance user retention and acquisition.,"[User Retention, Marketing Metrics]"
4,Influencer Marketing,strategy,Influencer marketing is a strategy discussed for promoting the product through collaborations with social media influencers. The team is actively reaching out to influencers on platforms like TikTok and Instagram to enhance brand visibility and engagement.,- Influencer marketing is a strategy for promoting the product. - The team is reaching out to influencers on TikTok and Instagram. - Collaborations with influencers are expected to enhance brand visibility and engagement.,"[Social Media Marketing, Community Building]"
5,Community Building,concept,"Community building involves creating a space for users to interact and share experiences. The team discussed the need to establish a community around the product to enhance user engagement and retention, utilizing platforms like WhatsApp and Telegram for communication.",- Community building is essential for user engagement and retention. - The team discussed establishing a community around the product. - Platforms like WhatsApp and Telegram are considered for communication.,"[User Engagement, Social Media]"
6,VEX,product,VEX is a product being developed that focuses on providing real-time transcription and contextual support during meetings. The team is working on enhancing its features based on user feedback and is planning to implement a paid plan as part of its marketing strategy.,- VEX is a meeting transcription tool that provides real-time support. - The team is enhancing its features based on user feedback. - Plans for rolling out a paid plan are in discussion.,"[User Experience, Product Development]"
7,Dashboard,concept,"The dashboard is a central element of VEX where users can interact with features and track their engagement. The team is planning to improve its functionality based on user feedback, focusing on usability and performance during meetings.",- The dashboard is a key component of VEX for user interaction. - Plans are in place to improve its functionality based on user feedback. - Usability and performance during meetings are primary focus areas.,"[User Experience, Analytics]"
8,Analytics,concept,"Analytics refers to the systematic computational analysis of data, discussed for tracking marketing effectiveness and user behavior on the VEX platform. The team is implementing UTM parameters to monitor the performance of marketing campaigns effectively.",- Analytics is crucial for tracking marketing effectiveness. - The team is implementing UTM parameters for better performance monitoring. - User behavior on the VEX platform is also being analyzed.,"[User Engagement, Marketing Metrics]"

In [87]:
df[df['topic_name']=='Start TikTok marketing in Brazil']

,summary_index,summary,details,referenced_text,topic_name,topic_type,meeting_id,meeting_timestamp,speaker_name,other_speakers
1368,2,Proposed to test TikTok marketing in Brazil due to its active audience and potential for growth.,"Olga suggested Brazil as a target market for TikTok due to its developing status and active audience. The content will be in Brazilian Portuguese. No specific timeline was mentioned, but it is part of the marketing strategy.","Olga Nemirovskaya: , TikTok, TikTok , , . | Olga Nemirovskaya: , . | Olga Nemirovskaya: . | Olga Nemirovskaya: - ? | Olga Nemirovskaya: ? | Olga Nemirovskaya: Google Meet , , . | Olga Nemirovskaya: . , , , , DHD . , , ...",Start TikTok marketing in Brazil,future projection,99ade764-fd60-4e9a-9621-66cc037cb865,2024-08-27 19:34:48.996,Olga Nemirovskaya,[Dmitriy Grankin]