In [1]:
# 17_search.ipynb

%load_ext autoreload
%autoreload 2

import sys
sys.path.append('/app')

In [2]:
from psql_helpers import read_table_async

In [3]:
from psql_models import *

In [4]:
from psql_access import get_meeting_token
from datetime import datetime
from indexing.redis_keys import RedisKeys
from indexing.worker import IndexingWorker
from redis import Redis

In [5]:
from sqlalchemy import update
from psql_helpers import get_session

async def reset_content_indexing():
    async with get_session() as session:
        await session.execute(
            update(Content).values(is_indexed=False)
        )
        await session.commit()

# Execute
#await reset_content_indexing()

In [8]:
df = await read_table_async(UserToken)

In [9]:
df

,token,user_id,created_at,last_used_at
0,52327145521a41429fa144666e5fceb1,52a33c88-4972-45ac-ac31-000bdd0799fb,2025-01-28 15:21:39.341124+00:00,2025-01-28 15:21:39.341574+00:00
1,5faa86ba0dc74b14a78c60c8aa20a014,8b767b85-44fb-4c20-97df-7aa172242273,2025-01-28 15:21:39.427042+00:00,2025-01-28 15:21:39.427201+00:00
2,fc5cc65fa5e7481aa1098282da213cb9,d5fe11cf-b87e-4bf8-9800-d8931098bfb2,2025-01-28 15:21:39.471007+00:00,2025-01-28 15:21:39.471150+00:00
3,3ae04e20124d40babc5107e658c666b6,ef7c085b-fdb5-4c94-b7b6-a61a3d04c210,2025-01-28 15:21:39.510248+00:00,2025-01-28 15:21:39.510383+00:00
4,1deb82ffa6ec45f883a8827fd30fe858,a2496afb-bd54-4450-8ffa-e3903a228df0,2025-01-28 15:21:39.811874+00:00,2025-01-28 15:21:39.812038+00:00
...,...,...,...,...
60,5b943fcc066641e593107d70f68df402,33d39015-fc1a-4bbd-b5e7-bfa9b44d3283,2025-01-28 15:23:32.238285+00:00,2025-01-28 15:23:32.238429+00:00
61,b97645dcc699415da5e46910cee5ba4c,225d2cb4-99fc-47db-a9dd-df057feb77ec,2025-01-28 15:23:33.915963+00:00,2025-01-28 15:23:33.916111+00:00
62,2a804b660c4547a0959bdd4a7714cbb1,2b2bc056-fbf5-4a9d-b736-887ba47ba13a,2025-01-28 15:23:35.170384+00:00,2025-01-28 15:23:35.170530+00:00
63,b2104b2ddd3242debe66eb7ba8d3ea7d,1ea79bb9-ff5f-49f0-9b18-345f81636be6,2025-01-28 15:23:35.373977+00:00,2025-01-28 15:23:35.374117+00:00
64,a348956cfac74798b24c452ba82253cd,6202a397-75ef-41a6-a8e5-48516a1aac77,2025-01-28 15:23:56.565718+00:00,2025-01-28 15:23:56.565862+00:00

In [7]:
df[df['name'].str.contains('Montenegro')]

Empty DataFrame
Columns: [id, name, type]
Index: []

In [16]:
df[df['is_indexed']]

Empty DataFrame
Columns: [id, type, text, timestamp, parent_id, is_indexed, last_update]
Index: []

In [19]:
df = await read_table_async(Content)

In [20]:
df

Empty DataFrame
Columns: []
Index: []

In [8]:
df['is_indexed'].value_counts()

is_indexed
False    3683
Name: count, dtype: int64

In [9]:
df['type'].value_counts()

type
meeting    3683
Name: count, dtype: int64

In [30]:
processor = ContentProcessor(
            qdrant_engine=self.qdrant_engine,
            es_engine=self.es_engine
        )

NameError: name 'self' is not defined